<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="restaurante">
            <h2><span>Restaurante</span> {{restaurante.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre Responsable</span></dt>
                <dd>
                    <span>{{restaurante.nombreResponsable}}</span>
                </dd>
                <dt><span>Nombre Local</span></dt>
                <dd>
                    <span>{{restaurante.nombreLocal}}</span>
                </dd>
                <dt><span>Identificacion</span></dt>
                <dd>
                    <span>{{restaurante.identificacion}}</span>
                </dd>
                <dt><span>Tipo Identificacion</span></dt>
                <dd>
                    <span>{{restaurante.tipoIdentificacion}}</span>
                </dd>
                <dt><span>Direccion</span></dt>
                <dd>
                    <span>{{restaurante.direccion}}</span>
                </dd>
                <dt><span>Telefono</span></dt>
                <dd>
                    <span>{{restaurante.telefono}}</span>
                </dd>
                <dt><span>Asientos Totales</span></dt>
                <dd>
                    <span>{{restaurante.asientosTotales}}</span>
                </dd>
                <dt><span>Asientos Disponibles</span></dt>
                <dd>
                    <span>{{restaurante.asientosDisponibles}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/restaurante', restaurante.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
