<div>
    <h2 id="page-heading">
        <span>Restaurantes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-restaurante" [routerLink]="['/restaurante/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Restaurante
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="restaurantes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nombre Responsable</span></th>
            <th><span>Nombre Local</span></th>
            <th><span>Identificacion</span></th>
            <th><span>Tipo Identificacion</span></th>
            <th><span>Direccion</span></th>
            <th><span>Telefono</span></th>
            <th><span>Asientos Totales</span></th>
            <th><span>Asientos Disponibles</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let restaurante of restaurantes ;trackBy: trackId">
                <td><a [routerLink]="['/restaurante', restaurante.id, 'view' ]">{{restaurante.id}}</a></td>
                <td>{{restaurante.nombreResponsable}}</td>
                <td>{{restaurante.nombreLocal}}</td>
                <td>{{restaurante.identificacion}}</td>
                <td>{{restaurante.tipoIdentificacion}}</td>
                <td>{{restaurante.direccion}}</td>
                <td>{{restaurante.telefono}}</td>
                <td>{{restaurante.asientosTotales}}</td>
                <td>{{restaurante.asientosDisponibles}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/restaurante', restaurante.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/restaurante', restaurante.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'restaurante', { outlets: { popup: restaurante.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
