<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-restaurante-heading">Registra tu restaurante</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!restaurante.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="restaurante.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nombreResponsable">Nombre Responsable</label>
                    <input type="text" class="form-control" name="nombreResponsable" id="field_nombreResponsable"
                           [(ngModel)]="restaurante.nombreResponsable" required/>
                    <div [hidden]="!(editForm.controls.nombreResponsable?.dirty && editForm.controls.nombreResponsable?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.nombreResponsable?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_usuario">Cuenta del responsable</label>
                    <input [disabled]="true" class="form-control" id="field_usuario" name="usuario" [(ngModel)]="restaurante.user" [value]="currentAccount.login"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nombreLocal">Nombre Local</label>
                    <input type="text" class="form-control" name="nombreLocal" id="field_nombreLocal"
                           [(ngModel)]="restaurante.nombreLocal" required/>
                    <div [hidden]="!(editForm.controls.nombreLocal?.dirty && editForm.controls.nombreLocal?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.nombreLocal?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_identificacion">Identificacion</label>
                    <input type="text" class="form-control" name="identificacion" id="field_identificacion"
                           [(ngModel)]="restaurante.identificacion" required/>
                    <div [hidden]="!(editForm.controls.identificacion?.dirty && editForm.controls.identificacion?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.identificacion?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tipoIdentificacion">Tipo Identificacion</label>
                    <input type="text" class="form-control" name="tipoIdentificacion" id="field_tipoIdentificacion"
                           [(ngModel)]="restaurante.tipoIdentificacion" required/>
                    <div [hidden]="!(editForm.controls.tipoIdentificacion?.dirty && editForm.controls.tipoIdentificacion?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.tipoIdentificacion?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_direccion">Direccion</label>
                    <input type="text" class="form-control" name="direccion" id="field_direccion"
                           [(ngModel)]="restaurante.direccion" required/>
                    <div [hidden]="!(editForm.controls.direccion?.dirty && editForm.controls.direccion?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.direccion?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_telefono">Telefono</label>
                    <input type="text" class="form-control" name="telefono" id="field_telefono"
                           [(ngModel)]="restaurante.telefono" required/>
                    <div [hidden]="!(editForm.controls.telefono?.dirty && editForm.controls.telefono?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.telefono?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_asientosTotales">Asientos Totales</label>
                    <input type="number" class="form-control" name="asientosTotales" id="field_asientosTotales"
                           [(ngModel)]="restaurante.asientosTotales" required/>
                    <div [hidden]="!(editForm.controls.asientosTotales?.dirty && editForm.controls.asientosTotales?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.asientosTotales?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.asientosTotales?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_asientosDisponibles">Asientos Disponibles</label>
                    <input type="number" class="form-control" name="asientosDisponibles" id="field_asientosDisponibles"
                           [(ngModel)]="restaurante.asientosDisponibles" required/>
                    <div [hidden]="!(editForm.controls.asientosDisponibles?.dirty && editForm.controls.asientosDisponibles?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.asientosDisponibles?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.asientosDisponibles?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
