<div>
    <h2 id="page-heading">
        <span>Membresias</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-membresia" [routerLink]="['/membresia/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Membresia
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="membresias">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nombre</span></th>
            <th><span>Descripcion</span></th>
            <th><span>Codigo Membresia</span></th>
            <th><span>Precio</span></th>
            <th><span>Beneficio</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let membresia of membresias ;trackBy: trackId ">
                <td><a [routerLink]="['/membresia', membresia.id, 'view' ]">{{membresia.id}}</a></td>
                <td><a>{{membresia.nombre}}</a></td>
                <td>{{membresia.descripcion}}</td>
                <td>{{membresia.codigoMembresia}}</td>
                <a><td>{{membresia.precio}}</td></a>
                <td>
                    <div *ngIf="membresia.beneficio">
                        <a [routerLink]="['../beneficio', membresia.beneficio?.id, 'view' ]" >{{membresia.beneficio?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/membresia', membresia.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN']" type="submit"
                                [routerLink]="['/membresia', membresia.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN']" type="submit"
                                [routerLink]="['/', 'membresia', { outlets: { popup: membresia.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
