<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="membresia">
            <h2><span>Membresia</span> {{membresia.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{membresia.nombre}}</span>
                </dd>
                <dt><span>Descripcion</span></dt>
                <dd>
                    <span>{{membresia.descripcion}}</span>
                </dd>
                <dt><span>Codigo Membresia</span></dt>
                <dd>
                    <span>{{membresia.codigoMembresia}}</span>
                </dd>
                <dt><span>Precio</span></dt>
                <dd>
                    <span>{{membresia.precio}}</span>
                </dd>
                <dt><span>Beneficio</span></dt>
                <dd>
                    <div *ngIf="membresia.beneficio">
                        <a [routerLink]="['/beneficio', membresia.beneficio?.id, 'view']">{{membresia.beneficio?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/membresia', membresia.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
