<div>
    <div class="btn-group btn-group-sm" role="group" *jhiHasAnyAuthority="['ROLE_USER']">
        <div >
            <button type="submit"
                    class="btn btn-info btn-sm list-group-item list-group-item-success {{isOpenRestaurantes? 'active': ''}}"
                    type="button"
                    id="restaurantes_collaps_button"
                    (click)=" isOpenRestaurantes= true; getStartInformation()"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    [attr.aria-expanded]="isOpenRestaurantes"
                    aria-controls="collapseOne">
                Restaurantes con disponibilidad
            </button>
        </div>
        <button type="submit"
                class="btn btn-info btn-sm list-group-item list-group-item-success {{isOpenRestaurantes? '': 'active'}}"
                type="button"
                id="reservas_collaps_button"
                (click)="isOpenRestaurantes = false; getStartInformation()"
                data-toggle="collapse"
                data-target="#collapseTwo"
                [attr.aria-expanded]="isOpenRestaurantes"
                aria-controls="collapseTwo">
            Tus reservas actuales
        </button>
    </div>
    <div *jhiHasAnyAuthority="['ROLE_USER']" >
        <div id="collapseOne" [ngbCollapse]="!isOpenRestaurantes" class="collapse show" aria-labelledby="headingThree">
            <div *ngIf="availablesRestaurantes?.length === 0">
                <h4 class="card-body"> No hay restaurantes con asientos disponibles </h4>
            </div>
            <div class="container" *ngFor="let restaurante of availablesRestaurantes">
                <div class="card">
                    <div class="card-body row">
                        <div class="col-sm-9">
                            <h5 class="card-title">{{restaurante.nombreLocal}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <a>Contacto:</a> {{restaurante.direccion + " - " + restaurante.telefono}}</h6>
                            <p class="card-text"><a>Asientos disponibles:</a> <span
                                class="card-text"> {{restaurante.asientosDisponibles}}</span></p>
                            <p class="card-text"><a>Asientos totales:</a> <span
                                class="card-text">{{restaurante.asientosTotales}}</span></p>
                            <p class="card-text"><a>Calificacion:</a> <span
                                class="card-text">{{restaurante.calificacion}}</span></p>
                        </div>
                        <div class="col-sm" *ngIf="membresiasOfUser.length > 0; else hasNotSuscripcion">
                            <button
                                class="btn btn-info btn-sm float-right"
                                type="button"
                                id="reservar"
                                (click)="openReservaModal(restaurante); open(modalReserva)"
                                data-toggle="modal" data-target="#myModal"
                                [attr.aria-expanded]="isOpenRestaurantes"
                                aria-controls="collapseOne">
                                Realizar Reserva
                            </button>
                        </div>
                        <ng-template #hasNotSuscripcion>
                            <div class="col-sm">
                                <input disabled value="No cuenta con suscripciones activas para realizar reserva">
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <!-- The Modal -->
            <ng-template #modalReserva let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Realiza una nueva Reserva</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="editForm" role="form" novalidate #editForm="ngForm">
                        <jhi-alert-error></jhi-alert-error>
                        <div class="form-group">
                            <label class="form-control-label" for="field_restaurante">Restaurante</label>
                            <input disabled class="form-control" id="field_restaurante" name="restaurante"
                                   [(ngModel)]="selectedRestaurante.nombreLocal"/>
                        </div>
                        <div class="form-group" *ngIf="reserva.restaurante != null && reserva.restaurante != undefined">
                            <label class="form-control-label" for="field_cantidadAsientos">Cantidad Asientos</label>
                            <input type="number" class="form-control" name="cantidadAsientos"
                                   id="field_cantidadAsientos" min="1" max="{{selectedRestaurante.asientosDisponibles}}"
                                   [(ngModel)]="reserva.cantidadAsientos" required/>
                            <div
                                [hidden]="!(editForm.controls.cantidadAsientos?.dirty && editForm.controls.cantidadAsientos?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.cantidadAsientos?.errors?.required">
                                    Este campo es requerido.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.cantidadAsientos?.errors?.number">
                                    Este campo debe ser un numero.
                                </small>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="reserva.restaurante != null && reserva.restaurante != undefined">
                            <label class="form-control-label" for="field_fechaReserva">Fecha Reserva</label>
                            <div class="input-group">
                                <input id="field_fechaReserva" type="text" class="form-control" name="fechaReserva"
                                       ngbDatepicker #fechaReservaDp="ngbDatepicker" [(ngModel)]="reserva.fechaReserva"
                                       required/>
                                <span class="input-group-append">
                                            <button type="button" class="btn btn-secondary"
                                                    (click)="fechaReservaDp.toggle()"><fa-icon
                                                [icon]="'calendar-alt'"></fa-icon></button>
                                        </span>
                            </div>
                            <div
                                [hidden]="!(editForm.controls.fechaReserva?.dirty && editForm.controls.fechaReserva?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.fechaReserva?.errors?.required">
                                    Este campo es requerido.
                                </small>
                            </div>
                        </div>

                        <div class="form-group" *ngIf="membresiasOfUser.length > 0">
                            <label class="form-control-label" for="field_membresia">Membresia activa que desea
                                usar: </label>
                            <select class="form-control" id="field_membresia" name="membresia"
                                    [(ngModel)]="reserva.membresia" required>
                                <option [ngValue]="null"></option>
                                <option
                                    [ngValue]="membresiaOption.id === reserva.membresia?.id ? reserva.membresia : membresiaOption"
                                    *ngFor="let membresiaOption of membresiasOfUser">{{membresiaOption.nombre}}</option>
                            </select>
                            <div
                                [hidden]="!(editForm.controls.membresia?.dirty && editForm.controls.membresia?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.membresia?.errors?.required">
                                    Este campo es requerido.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="field_peticiones">Peticiones</label>
                            <input type="text" class="form-control" name="peticiones" id="field_peticiones"
                                   [(ngModel)]="reserva.peticiones"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="cancel-save" class="btn btn-secondary"
                            (click)="resetReserva(); modal.close('Cancel click')">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
                    </button>
                    <button type="button" id="save-reserva" [disabled]="editForm.form.invalid"
                            (click)="saveReserva(); modal.close('Save click')" class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Reservar</span>
                    </button>
                </div>
            </ng-template>
        </div>
    <div id="collapseTwo" [ngbCollapse]="isOpenRestaurantes" class="collapse show" aria-labelledby="headingThree"
         data-parent="#accordionExample">
        <div *ngIf="reservas?.length === 0">
            <h4 class="card-body"> No hay reservas realizadas </h4>
        </div>
        <div class="col" *ngFor="let reserva of reservas">
            <div class="card">
                <div class="card-body row">
                    <div class="col-sm-9">
                        <h5 class="card-title">{{reserva.restaurante.nombreLocal}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <a>Contacto:</a> {{reserva.restaurante.direccion + " - " + reserva.restaurante.telefono}}
                        </h6>
                        <p class="card-text"><a>Estado de la reserva:</a><span
                            class="card-text"> {{reserva.fechaReserva.isBefore() ? 'No vigente' : 'Vigente'}}</span></p>
                        <p class="card-text"><a>Fecha de reserva : </a><span
                            class="card-text">{{reserva.fechaReserva.format('YYYY MM DD')}}</span></p>
                        <p class="card-text"><a>Peticiones de reserva:</a><span
                            class="card-text">{{reserva.peticiones ? reserva.peticiones : " Sin peticiones"}}</span></p>
                    </div>
                    <div class="col-sm">
                        <button
                            class="btn btn-info btn-sm float-right"
                            type="button"
                            id="observaciones"
                            (click)="openReservaComentModal(reserva); open(modalComment)"
                            data-toggle="modal" data-target="#myModal"
                            [attr.aria-expanded]="isOpenRestaurantes"
                            aria-controls="collapseOne">
                            Calificar reserva
                        </button>
                        <!-- The Modal -->
                        <ng-template #modalComment let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title" id="modalComent-basic-title">Realiza una nueva Reserva</h4>
                                <button type="button" class="close" aria-label="Close"
                                        (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form name="editForm" role="form" novalidate #editForm="ngForm">
                                    <jhi-alert-error></jhi-alert-error>
                                    <div class="form-group">
                                        <label class="form-control-label"
                                               for="field_restaurante_comment">Restaurante</label>
                                        <input disabled class="form-control" id="field_restaurante_comment"
                                               name="restaurante" [(ngModel)]="selectedRestaurante.nombreLocal"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="calificacion">Calificacion</label>
                                        <input type="number" class="form-control" name="calificacion" id="calificacion"
                                               min="0" max="5"
                                               [(ngModel)]="reserva.calificacion" required/>
                                        <div
                                            [hidden]="!(editForm.controls.calificacion?.dirty && editForm.controls.calificacion?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.calificacion?.errors?.required">
                                                This field is required.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="field_comentarios">Comentarios</label>
                                        <input type="text" class="form-control" name="comentarios"
                                               id="field_comentarios"
                                               [(ngModel)]="reserva.comentarios"/>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="cancel-save-comentario" class="btn btn-secondary"
                                        (click)="resetReserva(); modal.close('Cancel click')">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
                                </button>
                                <button type="button" id="save-reserva-comentario" [disabled]="editForm.form.invalid"
                                        (click)="calificarReserva(); modal.close('Save click')" class="btn btn-primary">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Calificar</span>
                                </button>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div *jhiHasAnyAuthority="['ROLE_RESTAURANT']" >
        <div>
            <div>
                <h5 class="card-title">Tus asientos disponibles son: {{accountRestaurante?.asientosDisponibles}}</h5>
            </div>
            <div class="btn-group btn-group-sm" role="group">
                <button type="submit"
                        class="btn btn-info btn-sm list-group-item list-group-item-success {{isOpenRestaurantes? 'active': ''}}"
                        type="button"
                        id="restaurante_reservas_list"
                        (click)="isOpenRestaurantes = true; getStartInformation()"
                        data-toggle="collapse"
                        data-target="#collapseThree"
                        [attr.aria-expanded]="isOpenRestaurantes"
                        aria-controls="collapseThree">
                    Tus reservas actuales
                </button>
                <button type="submit"
                        class="btn btn-info btn-sm list-group-item list-group-item-success {{isOpenRestaurantes? '': 'active'}}"
                        type="button"
                        id="restaurante_change"
                        (click)=" isOpenRestaurantes= false; getStartInformation()"
                        data-toggle="collapse"
                        data-target="#collapseFour"
                        [attr.aria-expanded]="isOpenRestaurantes"
                        aria-controls="collapseFour">
                    Modificar disponibilidad
                </button>
            </div>

            <div id="collapseThree" [ngbCollapse]="!isOpenRestaurantes" class="collapse show" aria-labelledby="headingThree">
                <div *ngIf="reservas?.length === 0">
                    <h4 class="card-body"> No hay reservas realizadas </h4>
                </div >
                <div class="col" *ngFor="let reserva of reservas">
                    <div class="card card-suscription">
                        <div class="card-body">
                            <h5 class="card-title">Fecha reserva: {{reserva.fechaReserva.format("DD-MM-YYYY")}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Asientos: {{reserva.cantidadAsientos}}</h6>
                            <p class="card-text"><a>Comentarios: </a>{{reserva.comentarios? reserva.comentarios:' Sin comentarios'}}</p>
                        </div>
                        <div class="card-body float-right">
                            <button type="submit"
                                    (click)="deleteReserva(reserva)"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline">Cancelar esta reserva</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="collapseFour" [ngbCollapse]="isOpenRestaurantes" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                   <div class="card-title">
                       <h4> Ingresa la nueva disponibilidad: </h4>
                       <h5 class="card-title">Recuerda que tus asientos totales son: {{accountRestaurante?.asientosTotales}}</h5>
                   </div>
                    <div class="card-body">
                        <label class="form-control-label" for="change_disponibilidad">Cantidad Asientos Disponibles</label>
                        <input type="number" class="form-control" name="cantidadAsientos" id="change_disponibilidad" min="0" max="{{accountRestaurante.asientosTotales}}"
                               [(ngModel)]="accountRestaurante.asientosDisponibles" required/>
                        <label class="form-control-label" for="change_disponibilidad">Cantidad Asientos Totales</label>
                        <input type="number" class="form-control" name="asientosTotales" id="change_disponibilidad_total" min="0"
                               [(ngModel)]="accountRestaurante.asientosTotales" required/>
                    </div>
                    <div class="card-footer">
                        <button type="submit"
                                replaceUrl="true"
                                (click)="updateAccountRestaurante()"
                                queryParamsHandling="merge"
                                class="btn btn-success btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Guardar</span>
                        </button>
                    </div>
               </div>
            </div>
        </div>
    </div>

</div>
