<!--<jhi-page-ribbon></jhi-page-ribbon>-->
<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container-fluid padding-top-nav">
    <div class="card jh-card">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
</div>
<jhi-footer></jhi-footer>
