<div>
    <h2 id="page-heading">
        <span>Suscripcion</span>
        <button *jhiHasAnyAuthority="['ROLE_ADMIN']" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-suscripcion" [routerLink]="['/suscripcion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Crear una suscripcion nueva
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="suscripcions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Estado</span></th>
            <th><span>Fecha Adquirida</span></th>
            <th><span>Fecha Vencimiento</span></th>
            <th><span>Membresia</span></th>
            <th><span>Usuario</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let suscripcion of suscripcions ;trackBy: trackId">
                <td><a [routerLink]="['/suscripcion', suscripcion.id, 'view' ]">{{suscripcion.id}}</a></td>
                <td>{{suscripcion.estado}}</td>
                <td>{{suscripcion.fechaAdquirida | date:'mediumDate'}}</td>
                <td>{{suscripcion.fechaVencimiento | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="suscripcion.membresia">
                        <a [routerLink]="['../membresia', suscripcion.membresia?.id, 'view' ]" >{{suscripcion.membresia?.nombre}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="suscripcion.user">
                        {{suscripcion.user?.login}}
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/suscripcion', suscripcion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                [routerLink]="['/suscripcion', suscripcion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'suscripcion', { outlets: { popup: suscripcion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
