<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-suscripcion-heading">Create or edit a Suscripcion</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!suscripcion.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="suscripcion.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_estado">Estado</label>
                    <input type="checkbox" class="form-control" name="estado" id="field_estado"
                        [(ngModel)]="suscripcion.estado" />
                    <div [hidden]="!(editForm.controls.estado?.dirty && editForm.controls.estado?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.estado?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fechaAdquirida">Fecha Adquirida</label>
                    <div class="input-group">
                        <input id="field_fechaAdquirida" type="text" class="form-control" name="fechaAdquirida" ngbDatepicker  #fechaAdquiridaDp="ngbDatepicker" [(ngModel)]="suscripcion.fechaAdquirida"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaAdquiridaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.fechaAdquirida?.dirty && editForm.controls.fechaAdquirida?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fechaAdquirida?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fechaVencimiento">Fecha Vencimiento</label>
                    <div class="input-group">
                        <input id="field_fechaVencimiento" type="text" class="form-control" name="fechaVencimiento" ngbDatepicker  #fechaVencimientoDp="ngbDatepicker" [(ngModel)]="suscripcion.fechaVencimiento"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaVencimientoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.fechaVencimiento?.dirty && editForm.controls.fechaVencimiento?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fechaVencimiento?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_membresia">Membresia</label>
                    <select class="form-control" id="field_membresia" name="membresia" [(ngModel)]="suscripcion.membresia" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="membresiaOption.id === suscripcion.membresia?.id ? suscripcion.membresia : membresiaOption" *ngFor="let membresiaOption of membresias; trackBy: trackMembresiaById">{{membresiaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_usuario">Usuario</label>
                    <select class="form-control" id="field_usuario" name="usuario" [(ngModel)]="suscripcion.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === suscripcion.user?.id ? suscripcion.user : userOption" *ngFor="let userOption of usuarios; trackBy: trackUsuarioById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
