<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="suscripcion">
            <h2><span>Suscripcion</span> {{suscripcion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Estado</span></dt>
                <dd>
                    <span>{{suscripcion.estado}}</span>
                </dd>
                <dt><span>Fecha Adquirida</span></dt>
                <dd>
                    <span>{{suscripcion.fechaAdquirida}}</span>
                </dd>
                <dt><span>Fecha Vencimiento</span></dt>
                <dd>
                    <span>{{suscripcion.fechaVencimiento}}</span>
                </dd>
                <dt><span>Membresia</span></dt>
                <dd>
                    <div *ngIf="suscripcion.membresia">
                        <a [routerLink]="['/membresia', suscripcion.membresia?.id, 'view']">{{suscripcion.membresia?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/suscripcion', suscripcion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
