<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-suscripcion-heading">Añadir una suscripcion</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!suscripcion.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="suscripcion.id" readonly />
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{currentMembership.nombre}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{currentMembership.beneficio.descripcion}}</h6>
                        <p class="card-text">{{currentMembership.descripcion}}</p>
                        <p class="card-text"><a>Precio : </a></p>
                        <p><b>${{currentMembership.precio}} COP</b> </p>
                        <p class="card-text"><a>Fecha de inicio : </p>
                        <p></a> {{fechaAdquiridaDp}}</p>
                        <p class="card-text"><a>Fecha de vencimiento : </a></p>
                        <p> {{fechaVencimientoDp}}</p>
                        <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                            <span>Volver</span>
                        </button>
                        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                            <span>Comprar suscripcion</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
