<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Registro</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Se realizo el registro con exito!</strong>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Fallo tu registro!</strong> por favor vuelve a intentarlo.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Ese nombre ya ha sido registrado!</strong> Por favor registra otro.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>Ese correo ya esta registrado!</strong> Por favor elige otro.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Las contraseñas no corresponden!
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label" for="login">Nombre de la cuenta</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="Tu nombre de usuario"
                            required minlength="1" maxlength="50" pattern="^[_.@A-Za-z0-9-]*$">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required">
                            El nombre de la cuenta es necesaria.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength"
                               >
                            El nombre de tu cuenta debe ser minimo de un caracter.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                               >
                            El nombre de tu cuenta debe ser maximo de 50 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern"
                              >
                            El nombre de tu cuenta solo debe contener letras y numeros.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="Tu correo electronico"
                            [(ngModel)]="registerAccount.email" minlength=5 maxlength=254 email required>
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.required"
                               >
                            Tu correo electronico es requerido.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.invalid"
                              >
                            Tu correo es invalido.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.minlength"
                              >
                            Tu correo electronico debe tener minimo 5 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                              >
                            Tu correo electronico debe tener maximo 100 caracteres.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="Ingresa tu contraseña"
                            [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required"
                               >
                            Tu contraseña es requerida.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength"
                               >
                            Tu contraseña debe tener almenos 4 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                               >
                            Tu contraseña debe tener maximo 50 caracteres.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirmacion de tu contraseña</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirmacion de tu contraseña"
                            [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
                              >
                            Debes ingresar la confirmacion de tu contraseña.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
                             >
                            Tu contraseña debe tener almenos 4 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
                              >
                            Tu contraseña debe tener maximo 50 caracteres.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary">Registrarse</button>
            </form>
            <p></p>
        </div>
    </div>
</div>
