<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reserva">
            <h2><span>Reserva</span> {{reserva.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Comentarios</span></dt>
                <dd>
                    <span>{{reserva.comentarios}}</span>
                </dd>
                <dt><span>Cantidad Asientos</span></dt>
                <dd>
                    <span>{{reserva.cantidadAsientos}}</span>
                </dd>
                <dt><span>Fecha Reserva</span></dt>
                <dd>
                    <span>{{reserva.fechaReserva}}</span>
                </dd>
                <dt><span>Membresia</span></dt>
                <dd>
                    <div *ngIf="reserva.membresia">
                        <a [routerLink]="['/membresia', reserva.membresia?.id, 'view']">{{reserva.membresia?.id}}</a>
                    </div>
                </dd>
                <dt><span>Restaurante</span></dt>
                <dd>
                    <div *ngIf="reserva.restaurante">
                        <a [routerLink]="['/restaurante', reserva.restaurante?.id, 'view']">{{reserva.restaurante?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reserva', reserva.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
