<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-reserva-heading">Create or edit a Reserva</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!reserva.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="reserva.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_comentarios">Comentarios</label>
                    <input type="text" class="form-control" name="comentarios" id="field_comentarios"
                        [(ngModel)]="reserva.comentarios" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cantidadAsientos">Cantidad Asientos</label>
                    <input type="number" class="form-control" name="cantidadAsientos" id="field_cantidadAsientos"
                        [(ngModel)]="reserva.cantidadAsientos" required/>
                    <div [hidden]="!(editForm.controls.cantidadAsientos?.dirty && editForm.controls.cantidadAsientos?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cantidadAsientos?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.cantidadAsientos?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fechaReserva">Fecha Reserva</label>
                    <div class="input-group">
                        <input id="field_fechaReserva" type="text" class="form-control" name="fechaReserva" ngbDatepicker  #fechaReservaDp="ngbDatepicker" [(ngModel)]="reserva.fechaReserva"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaReservaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.fechaReserva?.dirty && editForm.controls.fechaReserva?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fechaReserva?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_membresia">Membresia</label>
                    <select class="form-control" id="field_membresia" name="membresia" [(ngModel)]="reserva.membresia" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="membresiaOption.id === reserva.membresia?.id ? reserva.membresia : membresiaOption" *ngFor="let membresiaOption of membresias; trackBy: trackMembresiaById">{{membresiaOption.nombre}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_restaurante">Restaurante</label>
                    <select class="form-control" id="field_restaurante" name="restaurante" [(ngModel)]="reserva.restaurante" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="restauranteOption.id === reserva.restaurante?.id ? reserva.restaurante : restauranteOption" *ngFor="let restauranteOption of restaurantes; trackBy: trackRestauranteById">{{restauranteOption.nombreLocal}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
