/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
    background-size: contain;
}
/* ==========================================================================
Img Restaurante
========================================================================== */
.restaurante-img {
    height: 100%;
    background: url('../../content/images/restaurante.png') no-repeat center center;
    background-size: contain;
    width: 100%;
}

.restaurante .restaurante-img {
    height: 80%;
    display: inline-block;
    vertical-align: middle;
    /*width: 70px;*/
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
        background-size: contain;
    }
}
