<div class="row justify-content-md-center">
    <div class="col-md-9">
        <h1 class="display-4">Bienvenido a Rentaap!</h1>
        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <div class="container">
                    <div>
                        <span *jhiHasAnyAuthority="['ROLE_ADMIN']">Hola {{account.login}} como administrador puedes ver todas las suscripciones existentes.</span>
                        <span *jhiHasAnyAuthority="['ROLE_USER']">Hola {{account.login}} acontinuacion se mostraran tus suscripciones.</span>
                        <span *jhiHasAnyAuthority="['ROLE_RESTAURANT']">Hola {{account.login}} acontinuacion se mostraran tu restaurante.</span>
                    </div>
                    <div *jhiHasAnyAuthority="['ROLE_USER','ROLE_ADMIN']" class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button
                                        class="btn btn-link"
                                        id="menu-suscription"
                                        type="button"
                                        (click)="isCollapsedSuscriptions = !isCollapsedSuscriptions"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        [attr.aria-expanded]="isCollapsedSuscriptions"
                                        aria-controls="collapseOne">
                                        Suscripciones
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne" [ngbCollapse]="!isCollapsedSuscriptions" class="collapse show"
                                 aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row justify-content-md-center">
                                        <div class="spinner-border m-5" role="status" *ngIf="isLoadingSuscription">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="col" *ngFor="let suscripcion of suscripcions">
                                            <div class="card card-suscription">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{suscripcion.membresia.nombre}}</h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">{{suscripcion.membresia.beneficio.descripcion}}</h6>
                                                    <p class="card-text">{{suscripcion.membresia.descripcion}}</p>
                                                    <p class="card-text">Estado de la
                                                        suscripcion: {{suscripcion.estado ? 'Activa' : 'Inactiva'}}</p>
                                                    <p class="card-text">Fecha de vencimiento
                                                        : {{suscripcion.fechaVencimiento.format('YYYY-MM-DD')}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link"
                                            type="button"
                                            id="menu-membresia"
                                            (click)="isCollapsedMembership = !isCollapsedMembership"
                                            data-toggle="collapse"
                                            data-target="#collapseOne"
                                            [attr.aria-expanded]="isCollapsedMembership"
                                            aria-controls="collapseOne">
                                        Conoce mas membresias
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" [ngbCollapse]="!isCollapsedMembership" class="collapse"
                                 aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row justify-content-md-center">
                                        <div class="col" *ngFor="let membresia of membresias ">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{membresia.nombre}}</h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">۞ {{membresia.beneficio.descripcion}}</h6>
                                                    <p class="card-text">۞ {{membresia.descripcion}}</p>
                                                    <p class="card-text">۞ Precio :<a> ${{membresia.precio}} COP</a></p>
                                                    <button
                                                        routerLink="suscripcion/newuser"
                                                        routerLinkActive="active"
                                                        [routerLinkActiveOptions]="{ exact: true }"
                                                        id="{{membresia.id}}"
                                                        type="button" class="btn btn-primary"
                                                        (click)="registerMembership(membresia)">
                                                        Adquiere tu membresia aqui
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div *ngIf="haveRestaurant">
                        <div *jhiHasAnyAuthority="['ROLE_RESTAURANT']">
                            <div class="card" *ngFor="let availableRestaurante of availablesRestaurantes">
                                <div class="card-header">
                                    <h2><span>Restaurante</span> {{availableRestaurante.nombreLocal}}</h2>
                                </div>
                                <div class="card-body">
                                    <dl class="row-md jh-entity-details">
                                        <dt><span>Nombre Responsable</span></dt>
                                        <dd>
                                            <span>{{availableRestaurante.nombreResponsable}}</span>
                                        </dd>
                                        <dt><span>Nombre Local</span></dt>
                                        <dd>
                                            <span>{{availableRestaurante.nombreLocal}}</span>
                                        </dd>
                                        <dt><span>Tipo Identificacion</span></dt>
                                        <dd>
                                            <span>{{availableRestaurante.tipoIdentificacion}}</span>
                                        </dd>
                                        <dt><span>Identificacion</span></dt>
                                        <dd>
                                            <span>{{availableRestaurante.identificacion}}</span>
                                        </dd>
                                        <dt><span>Direccion</span></dt>
                                        <dd>
                                            <span>{{availableRestaurante.direccion}}</span>
                                        </dd>
                                        <dt><span>Telefono</span></dt>
                                        <dd>
                                            <span>{{availableRestaurante.telefono}}</span>
                                        </dd>
                                        <dt><span>Asientos Totales</span></dt>
                                        <dd>
                                            <span>{{availableRestaurante.asientosTotales}}</span>
                                        </dd>
                                        <dt><span>Asientos Disponibles</span></dt>
                                        <dd>
                                            <span>{{availableRestaurante.asientosDisponibles}}</span>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="haveRestaurant===false">
                        <div class="alert alert-warning" *jhiHasAnyAuthority="['ROLE_RESTAURANT']">
                            <span>Si deseas registrar tu restaurante dale click</span>&nbsp;
                            <a class="alert-link" routerLink="restaurante/new/user">Aqui y registrate</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Deseas iniciar sesion  </span>
                <a class="alert-link" (click)="login()">clic aqui</a>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>No tienes cuenta todavia?</span>&nbsp;
                <a class="alert-link" routerLink="register-user">Aqui registrate</a>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Deseas registrar tu restaurante?</span>&nbsp;
                <a class="alert-link" routerLink="register-user-restaurant">Ingresa aqui</a>
            </div>
        </div>
    </div>
</div>
